#navBar {
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border: 2px solid black;

}

body {
    background-image: url(https://wallpapercave.com/wp/wp3430844.jpg) ;
}

h1, h2 {
    text-align: center;
}

.tipsHead {
    margin-left: 70%;
}

aside {
    width: 30%;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }

.fish__List {
    display: flex;
    flex-flow: row wrap;
}

.fish__image {
    border: 1em solid skyblue;
    width: 12em;
    height: 12em; 
}


.fish__card, .tips__card { 
    background-color: lightgray;
    border: 3px solid black;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}



span {
    font-weight: bold;
}

